<h1>Hello. I am A test. Please see me.</h1>


<div class="create-burger-form">
    <h1>Put Burger Name Here:</h1>
    <input type="text" id="new_burger" placeholder="New Burger Goes Here Homie">
    <button id="submit-btn">Submit Burger</button>
</div>

<hr>

<div>
    <h1>These are Not Devoured</h1>
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <li> {{burger_name}} <button data-id="{{id}}" class="devour">Devour</button></li>
            {{/unless}}
        {{/each}}
    </ul>
    <hr>
    <h1>These are YES Devoured</h1>
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                <li> {{burger_name}} </li>
            {{/if}}
        {{/each}}
    </ul>
</div>